@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 100%;
	}

	body {
		@apply font-sans antialiased text-base overflow-x-hidden bg-purple-0 text-purple-light;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif font-medium;
	}

	h1 {
		@apply text-3xl md:text-4xl leading-tight font-bold;
	}

	h2 {
		@apply text-2xl md:text-3xl leading-snug;
	}

	h3 {
		@apply text-xl md:text-2xl leading-snug;
	}

	h4 {
		@apply text-lg md:text-xl leading-snug;
	}

	/* Scrollbar personalizada */
	::-webkit-scrollbar {
		width: 0.5rem; /* 8px - un poco más ancha para que se note el redondeo */
	}

	::-webkit-scrollbar-track {
		background: theme('colors.purple.darker');
		border-radius: theme('borderRadius.full');
		margin: 0.25rem; /* Añade espacio para que se vea el redondeo */
	}

	::-webkit-scrollbar-thumb {
		background: theme('colors.purple.dark.DEFAULT');
		border-radius: theme('borderRadius.full');
		border: 2px solid theme('colors.purple.darker'); /* Borde para efecto "flotante" */
		background-clip: padding-box; /* Hace que el borde sea parte del thumb */
	}

	::-webkit-scrollbar-thumb:hover {
		background: theme('colors.green.normal.DEFAULT');
		border: 2px solid theme('colors.purple.darker');
		background-clip: padding-box;
	}

	/* Para Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: theme('colors.purple.dark.DEFAULT') theme('colors.purple.darker');
	}
}

/* @layer components {
	.container {
		@apply px-container md:px-container-md lg:px-container-lg mx-auto max-w-container;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */
