---
import Layout from '@/layouts/Layout.astro';
import Services from '@/components/Services.astro';
import Projects from '@/components/Projects.astro';
import WorkProcess from '@/components/WorkProcess.astro';
import FAQ from '@/components/FAQ.astro';
import WhyUs from '@/components/WhyUs.astro';
import Hero from '@/components/Hero.astro';
---

<Layout title='InterUp'>
	<main>
		<Hero />
		<Services />
		<WorkProcess />
		<Projects />
		<WhyUs />
		<FAQ />
	</main>
</Layout>
