---
const phoneNumber = '542236698045';
const message = 'Hola! Me gustaría obtener más información sobre sus servicios.';
const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
---

<a
	href={whatsappUrl}
	target='_blank'
	rel='noopener noreferrer'
	class='fixed bottom-4 right-4 z-modal rounded-full shadow-lg
         hover:shadow-xl active:shadow-md transition-all duration-500 ease-in-out
         animate-fade-in-then-pulse opacity-0
         hover:scale-105 active:scale-95 '
	aria-label='Contactar por WhatsApp'
>
		<img src='/wpp copy.svg' alt='WhatsApp' class='relative w-12 h-12' />
</a>
