---
import WorkProcessCard from './WorkProcessCard.astro';

interface WorkStep {
	nombre: string;
	descripcion: string;
	icon: string;
}

const pasos: WorkStep[] = [
	{
		nombre: 'Primer Contacto',
		descripcion: 'Nos reunimos para conocer tus ideas y objetivos, entendiendo qué necesitas y cómo podemos ayudarte.',
		icon: '/handshake.svg',
	},
	{
		nombre: 'Planificación de Misión',
		descripcion:
			'Trazamos un plan detallado, definiendo las etapas y recursos necesarios para hacer realidad tu proyecto.',
		icon: '/planning.svg',
	},
	{
		nombre: 'Ensamblaje de Módulos',
		descripcion:
			'Construimos tu proyecto paso a paso, manteniendo una comunicación constante y adaptándonos a tus necesidades.',
		icon: '/assembly.svg',
	},
	{
		nombre: 'Lanzamiento Espacial',
		descripcion: 'Ponemos en marcha tu proyecto, verificando cada detalle para asegurar un despegue exitoso.',
		icon: '/launch.svg',
	},
	{
		nombre: 'Control de Parámetros',
		descripcion:
			'Supervisamos el rendimiento y realizamos los ajustes necesarios para asegurar un funcionamiento óptimo.',
		icon: '/monitoring.svg',
	},
];
---

<section class='py-32 bg-purple-1'>
	<h2 class='text-3xl md:text-4xl font-serif text-green-normal text-center mb-16 font-bold'>Cómo trabajamos</h2>

	<div class='flex flex-col max-w-5xl mx-auto md:gap-0 px-6'>
		{
			pasos.map((paso, index) => (
				<WorkProcessCard {...paso} index={index} isLast={index === pasos.length - 1}/>
			))
		}
	</div>
</section>
